language: php

php:
  - 7.1.23

cache:
  directories:
    - vendor

before_script:
  - touch ./database/testing.sqlite
  - cp .env.example .env
  - composer self-update
  - composer install --no-interaction
  - php artisan key:generate
  - php artisan migrate --seed

script:
  - composer test
